<div class="row">
    <div class="col-6 p-5">
        <div class="card" style="width: 25rem;">
            <img src="assets/testImage.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{employeeDetails?.p_name}}</h5>
              <p class="card-text">{{employeeDetails?.p_address}}</p>
              <p class="card-text">{{employeeDetails?.p_email}}</p>
              <a href="#" class="btn btn-primary">+{{employeeDetails.p_contact}}</a>
            </div>
          </div>
    </div>
</div>