<div class="row">
    <div class="col-6 p-5">
        <form>
            <div class="mb-3">
              <label for="employee-name" class="form-label">Employee Name</label>
              <input type="text" class="form-control" id="employee-name" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="employee-address" class="form-label">Password</label>
              <input type="text" class="form-control" id="employee-address">
            </div>
            <div class="mb-3">
                <label for="employee-email" class="form-label">Password</label>
                <input type="text" class="form-control" id="employee-email">
              </div>
            <div class="mb-3">
                <label for="employee-contact" class="form-label">Password</label>
                <input type="text" class="form-control" id="employee-contact">
              </div>
            <button type="submit" class="btn btn-primary">Create Employee</button>
          </form>
    </div>
</div>