<div class="row">
    <div class="col-6 p-5" >
        <form [formGroup]="employeeForm">
            <div class="mb-3">
              <label for="employee-name" class="form-label">Employee Name</label>
              <input 
                formControlName="name" 
                type="text" 
                class="form-control" 
                id="employee-name"
                [ngClass]="{
                  'is-invalid':employeeForm.controls['name'].errors && employeeForm.controls['name'].touched,
                  'is-valid':!employeeForm.controls['name'].errors
                }"
              >
              <div class ="alert alert-danger" role="alert" 
              *ngIf="employeeForm.controls['name'].errors?.['required'] && employeeForm.controls['name'].touched">  
              Name is required
              </div>
            </div>
            <div class="mb-3">
              <label for="employee-address" class="form-label">Address</label>
              <textarea 
                formControlName="address" 
                id="employee-address" 
                rows="5"
                class="form-control"  
                [ngClass]="{
                  'is-invalid':employeeForm.controls['address'].errors && employeeForm.controls['address'].touched,
                  'is-valid':!employeeForm.controls['address'].errors
                }">
              </textarea>
            </div>
            <div class="mb-3">
                <label for="employee-email" class="form-label">Email Address</label>
                <input 
                formControlName="email" 
                type="text" 
                class="form-control" 
                id="employee-email"
                [ngClass]="{
                  'is-invalid':employeeForm.controls['email'].errors && employeeForm.controls['email'].touched,
                  'is-valid':!employeeForm.controls['email'].errors
                }">
              </div>
            <div class="mb-3">
                <label for="employee-contact" class="form-label">Contact Number</label>
                <input 
                formControlName="contact" 
                type="text" 
                class="form-control" 
                id="employee-contact"
                [ngClass]="{
                  'is-invalid':employeeForm.controls['contact'].errors && employeeForm.controls['contact'].touched,
                  'is-valid':!employeeForm.controls['contact'].errors
                }">
              </div>
            <button type="submit" class="btn btn-primary">Create Employee</button>
          </form>
    </div>
</div>