<div class="row">
    <div class="col-6 p-5">
        <form>
            <div class="mb-3">
              <label for="employee-name" class="form-label">Employee Name</label>
              <input formControlName="name" type="text" class="form-control" id="employee-name" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="employee-address" class="form-label">Address</label>
             <textarea formControlName="address" id="employee-address" style="width: 100%" rows="5"></textarea>
            </div>
            <div class="mb-3">
                <label for="employee-email" class="form-label">Email Address</label>
                <input formControlName="email" type="text" class="form-control" id="employee-email">
              </div>
            <div class="mb-3">
                <label for="employee-contact" class="form-label">Contact Number</label>
                <input formControlName="contact" type="text" class="form-control" id="employee-contact">
              </div>
            <button type="submit" class="btn btn-primary">Create Employee</button>
          </form>
    </div>
</div>